@use "lib/vars" as *
@use "lib/fonts"
@use "lib/grid"
@use "lib/icons"
@use "lib/loader"
@use "lib/reset"

@use "layout"
@use "bridge"


html
  float: left
  width: 100%
  overflow-x: hidden
  scroll-behavior: smooth

body
  float: left
  width: 100%
  background: $gray-dark

  &[data-scroll-locked]
    height: 100vh
    overflow: hidden

  > div
    float: left
    width: 100%
    min-height: 100vh
    display: flex
    flex-direction: column

main
  float: left
  width: 100%
  margin-top: spacing(4)
  margin-bottom: auto

a
  cursor: pointer
  color: $gray-dark
  +transition

  &:hover
    text-decoration: none
    color: $white

.button
  position: relative
  padding: spacing(2.25) spacing(4) spacing(1.75) spacing(4)
  cursor: pointer
  font-size: 1.5rem
  line-height: 125%
  color: $primary-light
  background: $primary
  font-family: $font-title
  float: left
  text-align: center
  border: none
  text-transform: uppercase !important
  text-decoration: none !important
  +transition

  &:before
    padding-right: spacing()
    text-decoration: none !important

  &:hover, &:focus
    background: $black
    color: $white

  &:active
    background: $primary-dark
    border-color: $primary-dark !important
    color: $white

  &.disabled, &[disabled]
    background: $gray
    border-color: $gray !important
    color: $gray-dark !important
    cursor: no-drop
    box-shadow: none

  &.secondary
    color: $primary
    background: $white !important

    &:hover, &:focus
      border-color: $white !important

    &:active
      color: $primary-dark
      border-color: $primary-dark !important

    &.disabled, &[disabled]
      color: $gray
      border-color: $gray !important
      background: $white !important

p.error
  float: left
  color: $error
  text-align: center
  margin: spacing(2) 0
  +center-block-horizontally

